{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 150,
  "semi": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "bracketSpacing": true
}
