@mixin std-tab-item-active {
    &::before {
        visibility: visible;
        opacity: 1;
    }

    .std-tab-item__img-container {
        background-color: white;
    }

    .std-tab-item__text {
        color: #282828;
    }

    .std-tab-item__icon::before {
        color: #ff0000;
    }
}