
@media (max-width: 1900px){
    .content{
        // background: #ffacac;
    }
}

@media (max-width: 1600px){
    .content{
        // background: #ffcf99;
    }
}

@media (max-width: 1200px){
    .content{
        // background: #c3ffa0;
    }

    .sitebar + .content{
        width: calc(100% - 54px);
        margin-left: 54px;
        transition: all 0.4s ease-in-out;
    }
}


@media (max-width: 991px){
    .content{
        // background: #a6fffb;
    }

    .nav{
        display: flex;
    }

    .sitebar.hide{
        width: 327px;
        left: -327px;
    }

    .sitebar + .content{
        width: 100%;
        margin-left: 0px;
        transition: all 0.4s ease-in-out;
    }

    .sitebar.hide + .content{
        width: 100%;
        margin-left: 0px;
        transition: all 0.4s ease-in-out;
    }

    .sitebar .sitebar-logo{
        display: none;
    }

    .sitebar .sitebar-toggler{
        display: none;
    }
}

@media (max-width: 768px){

}

@media (max-width: 600px){

}

@media (max-width: 430px){
    .sitebar{
        width: 100%;
    }
}



// Steiden
$desktop-l: 1920px;
$desktop: 1440px;
$desktop-s: 1280px;

$tablet-l: 1024px;
$tablet: 768px;
$tablet-s: 640px;

$mobile-l: 480px;
$mobile: 320px;
$mobile-s: 240px;

// mixins
@mixin desktop-l-above {
	@media (width > $desktop-l) {
		@content;
	}
}
@mixin desktop-l {
	@media (width <= $desktop-l) {
		@content;
	}
}
@mixin desktop-above {
	@media (width > $desktop) {
		@content;
	}
}
@mixin desktop {
	@media (width <= $desktop) {
		@content;
	}
}
@mixin desktop-s-plus {
  @media (width <= 1075px) {
    @content;
  }
}
@mixin desktop-s-above {
	@media (width > $desktop-s) {
		@content;
	}
}
@mixin desktop-s {
	@media (width <= $desktop-s) {
		@content;
	}
}
@mixin desktop-s-minus {
  @media (width <= 990px) {
    @content;
  }
}
@mixin tablet-l-above {
	@media (width > $tablet-l) {
		@content;
	}
}
@mixin tablet-l {
	@media (width <= $tablet-l) {
		@content;
	}
}
@mixin tablet-above {
	@media (width > $tablet) {
		@content;
	}
}
@mixin tablet {
	@media (width <= $tablet) {
		@content;
	}
}
@mixin tablet-minus {
  @media (width <= 700px) {
    @content;
  }
}
@mixin tablet-s-above {
	@media (width > $tablet-s) {
		@content;
	}
}
@mixin tablet-s {
	@media (width <= $tablet-s) {
		@content;
	}
}
@mixin mobile-l-above {
	@media (width > $mobile-l) {
		@content;
	}
}
@mixin mobile-l {
	@media (width <= $mobile-l) {
		@content;
	}
}
@mixin mobile-above {
	@media (width > $mobile) {
		@content;
	}
}
@mixin mobile {
	@media (width <= $mobile) {
		@content;
	}
}
@mixin mobile-s-above {
	@media (width > $mobile-s) {
		@content;
	}
}
@mixin mobile-s {
	@media (width <= $mobile-s) {
		@content;
	}
}


@include desktop-l-above {
    .clients {
        &__card-container {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}
@include desktop-l {
    .clients {
        &__card-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .promotion {
        &__main,
        .promotion-main {
            &__content {
                gap: 150px;
            }
        }
    }
}
@include desktop {
    .clients {
        &__card-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    .promotion {
        &__main,
        .promotion-main {

            &__content {
                flex-direction: column;
                gap: 50px;
            }

            :is(.promotion__title-container, .promotion-main__card-container) {
                width: auto;
            }
        }
    }
}
@include desktop-s-plus {
    .clients {
        &__card-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@include desktop-s-minus {
    .dart_container {
        padding-top: 54px !important;
    }
    .dart_wrapper {
        padding: 20px 0 !important;
    }
}
@include tablet-minus {
    .clients {
        &__card-container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
@include tablet-l-above {
    .std-calendar {
        .calendar-associations {
            &__blue::before {
                background-color: white;
            }
        }
    }
} 
@include tablet-l {
    .std-shipping {
        margin-top: 20px;

        &__title-container {
            margin-bottom: 20px;
        }

        &__filters {
            gap: 16px;

            .profile-content__title {
                margin: 0;
            }

            .dart-row {
                gap: 16px;
            }
        }

        .std-calendar {
            position: static;
            border: none;
            box-shadow: none;
            
            max-height: 100dvh;
            width: 100%;
            margin-bottom: 32px;
      
            &__head {
              padding: 0;
              height: auto !important;
      
              p {
                font-size: 21px;
                font-weight: 500;
                line-height: 1.14;
              }
            }
      
            &,
            &__content {
              background-color: transparent !important;
            }
    
            .calendar-associations {
                padding: 0;
            }
        }
    }

    .std-dialog {
        border-radius: 0 !important;

        width: 100% !important;
        height: 100dvh;
        max-height: none;
    }

    .std-shipping-create {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .dart-alert {
            font-size: 15px;
            line-height: 1.2;
            color: #ADADAD;
            padding: 0;
            background-color: transparent;
            border: none;
            margin-bottom: 0;
        }

        .shopping-kenost__dates {
            flex-wrap: wrap;
            gap: 16px;
        }

        .shopping-kenost__button {
            margin-top: 0;
        }
    }

    .std-dropdown {
        &__header {
            .std-dropdown__title {
                font-size: 21px;
                font-weight: 500;
                line-height: 1.14;
            }
        }
    }
}
@include tablet {
    .promotion {
        &__main,
        .promotion-main {

            &__card-container {
                grid-template-columns: 1fr;
            }
        }
    }

    .std-profile {
        .upload-banner {
            flex-direction: column;
        }
    }
}
@include mobile-l {
    .dart_container {
        padding: 0;
    }

    .std-title {
        &__description {
            font-size: 15px;
        }
    }

    .std-shipping {
        &__filters {
            .d-col-md-3 {
                width: 100%;

                .dart-form-group {
                    .p-component {
                        height: 44px;

                        .p-treeselect-label {
                            padding: 0.5rem 0.75rem;
                        }
                    }
                }
            }
        }
    }

    .std-shipping-create {
        .shopping-kenost__button {
            flex-wrap: wrap;
        }
    }

    .clients {
        padding-inline: 15px;

        &__card-container {
            .client-card {
                gap: 24px;
                padding: 15px;

                &__content {
                    gap: 6px;

                    .client-card__info {
                        gap: 4px;
                    }
                }
            }
        }
    }


    // ProfileStatistics
    .std-statistics {
        
        .title-mini,
        &__warehouse-table {
            padding-inline: 15px !important;
        }
        
        .title-mini {
            gap: 17px;
            margin-top: 0;
            margin-bottom: 20px;

            .mst-image-org {
                box-shadow: 0px 1px 5px 0px #00000033, 0px 3px 1px 0px #0000001F, 0px 2px 2px 0px #00000024;
                border-radius: 5px;
                width: 31px;
            }
        }

        .title {
            color: #282828;
            font-size: 18px;
            font-weight: 400;
        }

        &__warehouse-table {
            margin-bottom: 38px !important;

            thead tr th,
            tbody tr td {
                font-size: 11px;
            }
    
            thead tr th {
                font-weight: 400;
            }
    
            tbody tr td {
                font-weight: 500;
                padding: 12px 0;
        
                &:last-child {
                    padding: 12px;
                    text-align: left;
                }

                img {
                    height: 46px !important;
                }
            }
        }

        &__table-wrapper {
            border-left: none;
            border-right: none;
            border-color: #ADADAD;
            border-radius: 0;

            height: fit-content;
            width: 100%;
            margin-bottom: 100px;
            padding: 0;
            padding-top: 10px;
        }

        &__table {
            .profile-products__products {
                border-radius: 0;
                margin-top: 40px;
            }
            
            .title,
            .dart-row {
                padding-inline: 15px;
            }

            .title {
                margin-bottom: 11px;
            }

            .mst-alert {
                font-size: 11px;
                margin: 0 !important;
                padding: 6px 15px 6px 11px;
            }

            .form_input_group__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 12px;

                img {
                    height: 13px;
                }
            }

            .dart-form-group {
                margin-bottom: 14px;
            }

            .dart-form-control {
                padding: 12px;
            }
            .p-dropdown-label,
            .p-treeselect-label {
                padding-left: 12px !important;
            }

            .dart-form-control,
            .p-component:not(.p-checkbox) {
                height: 40px;
            }

            .p-button {
                padding: 0 12px !important;
            }

            .s-complex-input__label,
            .p-inputnumber-input::placeholder,
            .p-placeholder {
                color: #676767 !important;
                font-size: 15px !important;
                opacity: 1 !important;
            }

            .p-inputnumber-input {
                box-shadow: none;
                border-color: #E2E2E2;
                border-left: none;
                border-right: none;
                text-align: center;
            }

            .p-inputnumber-button {
                background-color: transparent;
                border-color: #E2E2E2;
                color: #676767;
                opacity: 1 !important;

                &-up {
                    border-left: none;
                }

                &-down {
                    border-right: none;
                }
            }

            .p-dropdown,
            .p-treeselect {
                box-shadow: none;
            }

            .dart-form-group .flex {
                gap: 14px;

                .p-checkbox {
                    width: 22px !important;
                    height: 22px !important;
                }

                .p-checkbox .p-checkbox-box {
                    border: 0.6px solid #676767;
                    box-shadow: none;
                    width: 22px;
                    height: 22px;
                    aspect-ratio: 1;
                }

                label {
                    color: #676767;
                    font-size: 15px;
                    line-height: 1;
                }
            }

            th,
            td {
                &:first-child {
                    padding-left: 19px !important;
                }
                &:last-child {
                    padding-right: 19px !important;
                }
            }

            th {
                font-size: 11px !important;
                height: 42px !important;
                padding-block: 11px !important;
            }

            td {
                font-size: 12px !important;
                padding: 8px 0 !important;
                text-align: left !important;

                &:nth-child(3) {
                    .cell_value {
                        width: 130px;
                    }
                }
            }
        }
    }


    // Nav
    .nav {
        .pi-times {
            display: flex;
            
            &::before {
                font-size: 14px;
            }
        }
    }

    
    // Sitebar
    .sitebar {
        .sitebar-profile {
            padding: 13px 0 13px 15px;
            margin-top: 76px;

            &__name {
                margin-top: 8px;
            }

            &__tags {
                gap: 22px;
            }
        }

        .sitebar-org {
            gap: 22px;
        }

        .sitebar-role {
            box-shadow: 0px 4px 14.8px 0px #00000040;
        }

        .sitebar-info {
            margin-top: 18px;
            padding: 0px 15px 0px 15px;
        }

        .sitebar-hr {
            margin: 22px 15px;
        }

        .sitebar-menu {
            &__name {
                padding: 0 0 0 15px;
            }

            .p-panelmenu {
                display: flex;
                flex-direction: column;
                gap: 6px;

                .p-panelmenu-panel {
                    height: 32px;
                }
            }
        }

        .sitebar-logout {
            flex-direction: row-reverse;
            gap: 7px;

            width: fit-content;
            padding: 0 0 15px 15px;

            span {
                font-size: 15px;
            }
        }
    }


    // OrgProfile
    .std-profile {
        padding-inline: 15px;

        .avatar-org {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #838383;
            border-radius: 0;

            height: 120px;
            width: 100% !important;

            .p-fileupload {
                height: 100%;
                width: 100%;

                .p-fileupload-buttonbar {
                    border: none;
                    height: 100%;
                }

                .org-upload-i {
                    display: flex;

                    top: initial;
                    left: initial;
                    right: 15px;
                    bottom: 15px;

                    opacity: 1 !important;
                    transform: none;

                    width: 21px !important;
                    height: 21px !important;
                }

                .org-upload-img {
                    object-fit: cover;
                    // width: auto !important;
                    height: 100% !important;
                }
            }
        }

        .profile-content__title {
            padding: 0;

            .maintitle {
                font-size: 24px;
                font-weight: 500;
                line-height: 1.2;
            }

            .buttons_container {
                height: 48px;
                
                position: fixed;
                bottom: 8px;
                left: 15px;
                right: 15px;

                .dart-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 100%;
                    width: 100%;
                }
            }
        }

        .p-tabview {
            .p-tabview-nav {
                .p-tabview-nav-link {
                    font-size: 14px;
                    font-weight: 500;

                    height: 38px;
                    margin: 0;
                    padding: 10px 16px;
                }

                .tab-custom .p-tabview-ink-bar {
                    height: 2px;
                }
            }

            .p-tabview-nav-container {
                font-family: 'Roboto', sans-serif;
                margin-bottom: 32px;
            }

            .p-tabview-panels {
                padding: 0 !important;

                form > .dart-form-group:nth-child(1) {
                    margin-bottom: 32px !important;
                }

                .ktitle {
                    font-family: 'Roboto', sans-serif;
                    font-size: 21px;
                    font-weight: 500;

                    margin-bottom: 16px;
                }

                .kenost-form-grid {
                    flex-direction: column;
                    gap: 16px;

                    .form_input_group {
                        width: 100% !important;
                        margin: 0 !important;

                        label {
                            color: #B4B4B4;
                            font-size: 12px;
                            line-height: 1;
                            letter-spacing: 0.25px;

                            margin-bottom: 4px;
                        }

                        .dart-form-control {
                            font-size: 15px;

                            height: 44px;
                            padding: 13px 15px;
                        }
                    }
                }

                .requisites {
                    border-bottom: 1px solid #E2E2E2;

                    margin-bottom: 64px !important;
                    padding-bottom: 24px;

                    p {
                        margin: 0;
                    }
                }

                .upload-banner {
                    flex-direction: column;
                    gap: 16px;

                    margin-bottom: 16px !important;

                    &__text {
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;

                        width: 100%;

                        .ktitle {
                            margin: 0;
                        }
                    }

                    .dart-btn {
                        background: none;
                        border: none;
                        box-shadow: none;

                        overflow: visible;
                        padding: 2.5px;

                        height: 20px;
                        width: 20px;

                        img {
                            height: 15px !important;
                            width: 15px !important;
                            max-width: none;
                        }
                    }

                    span:not(.ktitle) {
                        color: #ADADAD;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 1.3;
                    }
                }
            }
        }
        
        &__accordion,
        .std-accordion {
            font-family: 'Roboto', sans-serif;

            &--expanded {
                .std-accordion__content {
                    margin-top: 16px;
                }
            }

            &__header {
                font-size: 15px;
                font-weight: 500;
                line-height: 1.2;
            }

            &__button {
                height: 20px;
                width: 20px;
            }

            &__img {
                width: 10px;
            }
        }

        &__options {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 16px;
        }

        .dart-form-control:read-only {
            color: #B4B4B4;
        }

        &__bank-requisites {
            margin-top: 0 !important;

            .text-s {
                margin-bottom: 16px !important;
            }
        }
    }
}