@media (max-width: 1900px) {
	.content {
		// background: #ffacac;
	}
}

@media (max-width: 1600px) {
	.content {
		// background: #ffcf99;
	}
}

@media (max-width: 1200px) {
	.content {
		// background: #c3ffa0;
	}

	.sitebar + .content {
		width: calc(100% - 54px);
		margin-left: 54px;
		transition: all 0.4s ease-in-out;
	}
}

@media (max-width: 991px) {
	.content {
		// background: #a6fffb;
	}

	.nav {
		display: flex;
	}

	.sitebar.hide {
		width: 327px;
		left: -327px;
	}

	.sitebar + .content {
		width: 100%;
		margin-left: 0px;
		transition: all 0.4s ease-in-out;
	}

	.sitebar.hide + .content {
		width: 100%;
		margin-left: 0px;
		transition: all 0.4s ease-in-out;
	}

	.sitebar .sitebar-logo {
		display: none;
	}

	.sitebar .sitebar-toggler {
		display: none;
	}
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 430px) {
	.sitebar {
		width: 100%;
	}
}

// Steiden
@import "./mixins.scss";

@include desktop-l-above {
	.clients {
		&__card-container {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}
@include desktop-l {
	.clients {
		&__card-container {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.promotion {
		&__main,
		.promotion-main {
			&__content {
				gap: 150px;
			}
		}
	}
}
@include desktop {
	.clients {
		&__card-container {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.promotion {
		&__main,
		.promotion-main {
			&__content {
				flex-direction: column;
				gap: 50px;
			}

			:is(.promotion__title-container, .promotion-main__card-container) {
				width: auto;
			}
		}
	}
}
@include desktop-s-plus {
	.clients {
		&__card-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@include desktop-s {
	// Balance
	.balance {
		.balance-info {
			gap: 75px;
		}
	}

	.std-nav {
		flex-wrap: wrap;
		min-height: 76px;
		height: fit-content !important;
	}

	.purchases {
		.categories {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
	}
}
@include desktop-s-minus {
	.dart_container {
		padding-top: 54px !important;
	}
	.dart_wrapper {
		padding: 0 !important;
		padding-top: 20px !important;
	}

	.std-nav {
		background-color: #ededed !important;

		flex-wrap: wrap;
		gap: 12px;

		height: fit-content !important;
		margin: 0;
		padding: 20px 15px 12px 15px !important;

		&:not(.std-nav--active) {
			background-color: #fcfcfc !important;
		}

		&__line {
			background-color: rgba(226, 226, 226, 1);
			border: none;
			outline: none;

			height: 1px;
			width: calc(100% - 30px);
			margin: 0 auto;
		}

		.std-catalog-button,
		.kenost-vendors {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 14px !important;
			flex-basis: 0;
			flex-grow: 1;

			font-size: 14px;
			font-weight: 400;

			height: 25px;

			&__span {
				font-family: "Roboto", sans-serif;
				font-weight: 500;
			}

			.std-icon,
			.std-icon > svg {
				height: 15px;
			}
			i.pi {
				font-size: 15px;
			}
		}

		.std-catalog-button,
		.std-search-field__input,
		.std-search-field__button {
			font-family: "Roboto", sans-serif;
		}

		.std-catalog-button {
			max-height: calc(100dvh - 155px);

			&__icon {
				display: flex;
				rotate: 0deg;

				&::before {
					font-size: 10px;
				}
			}
		}

		.kenost-vendors {
			padding: 5px 12px;

			img {
				width: 18px;
			}
		}

		.std-search-field__wrapper {
			order: 1;
			margin: 0;

			&,
			form,
			.std-search-field {
				width: 100% !important;
			}

			.std-search-field {
				border: 1px solid #e2e2e2;
				height: 32px;

				&__block {
					align-items: center;
					height: 32px;
					padding: 8px 10px !important;
				}

				&__icon {
					width: 13.5px;
					height: 13.5px;
					padding: 0 !important;
				}

				&__input {
					font-size: 11px;
					border: none;
					outline: none;
				}

				&__button {
					font-size: 14px;
				}
			}
		}

		.std-catalog {
			background-color: rgba(237, 237, 237, 1);
			margin: 0;
			padding-top: 6px;
			padding-bottom: 80px;
			left: 0;
			max-height: 85dvh;
			gap: 14px;

			&__line {
				background-color: rgba(226, 226, 226, 1);
				height: 1px;
				width: calc(100% - 30px);
			}

			&__content {
				flex-direction: column;
				padding: 0;

				& > .std-catalog__nav {
					padding-block: 0;
					padding-top: 5px;
				}
			}

			&__nav--primary,
			&__nav-wrapper {
				flex-basis: auto;
				flex-grow: 0;
				max-height: none;
				max-width: none;
			}

			&__nav-wrapper {
				display: none;
			}

			&__tabs,
			&__nav--primary {
				padding-inline: 15px;
			}

			&__tabs {
				flex-direction: column;
				gap: 7px;
			}
			&__tab-item,
			.std-tab-item {
				height: 31px;

				&__img-container {
					width: 29px;
				}
			}

			&__nav--primary {
				gap: 12px;
				padding-top: 7px;
			}

			.std-tab-item {
				padding-inline: 0;

				&::before {
					top: 50%;
					translate: -15px -50%;
					height: 36px;
					width: 100%;
				}

				&--alt {
					height: 39px;

					&::before {
						height: 54px;
						translate: -12px -50%;
					}
				}

				&--alt2 {
					min-height: 16px;
					height: fit-content;

					&::before {
						height: 100%;
					}
				}
			}
		}

		.std-tab-item {
			width: 100%;

			&__icon {
				transition-duration: .3s;
			}
		}

		.std-catalog__nav {
			&--primary {
				overflow: auto;
				max-height: none;
			}
		}

		.std-accordion {
			&--expanded {
				& >.std-accordion__header {
					& > .std-tab-item {
						@include std-tab-item-active;

						& > .std-tab-item__icon {
							rotate: 0deg;
						}
					}
				}
			}

			&__content {
				.std-catalog__nav {
					margin-block: 13px;
					overflow: visible;
				}
			}

			.std-tab-item--alt2 {
				padding-left: 40px !important;

				&::before {
					width: calc(100vw - 3px) !important;
					translate: 30px -50% !important;
				}
			}

			.std-tab-item--alt3 {
				&::before {
					translate: 45px -50% !important;
				}
			}
		}
	}

}
@include tablet-minus {
	.clients {
		&__card-container {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
@include tablet-l-above {
	.std-calendar {
		.calendar-associations {
			&__blue::before {
				background-color: white;
			}
		}
	}
}
@include tablet-l {
	.std-shipping {
		margin-top: 20px;

		&__title-container {
			margin-bottom: 20px;
		}

		&__filters {
			gap: 16px;

			.profile-content__title {
				margin: 0;
			}

			.dart-row {
				gap: 16px;
			}
		}

		.std-calendar {
			position: static;
			border: none;
			box-shadow: none;

			max-height: 100dvh;
			width: 100%;
			margin-bottom: 32px;

			&__head {
				padding: 0;
				height: auto !important;

				p {
					font-size: 21px;
					font-weight: 500;
					line-height: 1.14;
				}
			}

			&,
			&__content {
				background-color: transparent !important;
			}

			.calendar-associations {
				padding: 0;
			}
		}

		.std-table__wrapper {
			overflow: auto;
		}
		.std-table {
			table-layout: auto;
		}
	}

	.std-dialog {
		border-radius: 0 !important;

		width: 100% !important;
		height: 100dvh;
		max-height: none;
	}

	.std-shipping-create {
		display: flex;
		flex-direction: column;
		gap: 32px;

		.dart-alert {
			font-size: 15px;
			line-height: 1.2;
			color: #adadad;
			padding: 0;
			background-color: transparent;
			border: none;
			margin-bottom: 0;
		}

		.shopping-kenost__dates {
			flex-wrap: wrap;
			gap: 16px;
		}

		.shopping-kenost__button {
			margin-top: 0;
		}

		.shopping-kenost__cityone-date {
			width: 90%;
		}
	}

	.std-dropdown {
		&__header {
			.std-dropdown__title {
				font-size: 21px;
				font-weight: 500;
				line-height: 1.14;
			}
		}
	}

	.retails {
		padding-inline: 15px;

		&__table-container {
			padding: 0;
			border: none;
			border-radius: 0;
		}

		.std-table {
			table-layout: auto;

			&__hcol {
				padding-inline: 10px;

				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	// Balance
	.balance {
		.balance-info {
			&__container {
				flex-direction: column-reverse;
			}

			&__button-wrapper {
				align-self: flex-end;
			}
		}
	}

	.sitebar {
		position: fixed;
	}
}
@include tablet {
	.promotion {
		&__main,
		.promotion-main {
			&__card-container {
				grid-template-columns: 1fr;
			}
		}
	}

	.std-profile {
		.upload-banner {
			flex-direction: column;
		}
	}

	.change-org-container {
		.change-org__wrapper {
			align-items: flex-start;
			flex-direction: column;
			gap: 10px;
		}
	}
}
@include tablet-s {
	// Balance
	.balance {
		&__header {
			gap: 24px;
		}

		.balance-info {
			flex-direction: column;
			gap: 16px;

			background: none;
			border: none;
			padding: 0;

			&__button-wrapper {
				width: 100%;
			}
			&__button {
				align-self: center;
				width: 250px;
			}

			&__item {
				flex-direction: column;
				width: 100%;
				max-width: none;

				&:first-child {
					max-width: none;
				}
			}
		}
	}
}
@include mobile-l {
	.dart_container {
		padding: 0;
	}

	.p-dialog {
		min-width: auto;
		width: 100%;
		margin-inline: 15px;
	}

	.analitics-widget {
		padding-inline: 15px;
	}

	.std-title {
		&__description {
			font-size: 15px;
		}
	}

	.std-shipping {
		margin-top: 0;

		&__table {
			border: none !important;
			padding: 0 !important;
		}

		&__title-container,
		.std-calendar {
			padding-inline: 15px;
		}

		&__filters {
			.d-col-md-3 {
				width: 100%;

				.dart-form-group {
					.p-component {
						height: 44px;

						.p-treeselect-label {
							padding: 0.5rem 0.75rem;
						}
					}
				}
			}
		}

		.std-table__wrapper {
			border-radius: 0;
		}
		.std-table__col {
			padding-inline: 9px;
		}
	}

	.std-shipping-create {
		.shopping-kenost__button {
			flex-wrap: wrap;
		}
	}

	.clients {
		padding-inline: 15px;

		&__card-container {
			.client-card {
				gap: 24px;
				padding: 15px;

				&__content {
					gap: 6px;

					.client-card__info {
						gap: 4px;
					}
				}
			}
		}
	}

	// ProfileStatistics
	.std-statistics {
		.title-mini,
		&__warehouse-table {
			padding-inline: 15px !important;
		}

		.title-mini {
			gap: 17px;
			margin-top: 0;
			margin-bottom: 20px;

			.mst-image-org {
				box-shadow: 0px 1px 5px 0px #00000033, 0px 3px 1px 0px #0000001f,
					0px 2px 2px 0px #00000024;
				border-radius: 5px;
				width: 31px;
			}
		}

		.title {
			color: #282828;
			font-size: 18px;
			font-weight: 400;
		}

		&__warehouse-table {
			margin-bottom: 38px !important;

			thead tr th,
			tbody tr td {
				font-size: 11px;
			}

			thead tr th {
				font-weight: 400;
			}

			tbody tr td {
				font-weight: 500;
				padding: 12px 0;

				&:last-child {
					padding: 12px;
					text-align: left;
				}

				img {
					height: 46px !important;
				}
			}
		}

		&__table-wrapper {
			border-left: none;
			border-right: none;
			border-color: #adadad;
			border-radius: 0;

			height: fit-content;
			width: 100%;
			margin-bottom: 100px;
			padding: 0;
			padding-top: 10px;
		}

		&__table {
			.profile-products__products {
				border-radius: 0;
				margin-top: 40px;
			}

			.title,
			.dart-row {
				padding-inline: 15px;
			}

			.title {
				margin-bottom: 11px;
			}

			.mst-alert {
				font-size: 11px;
				margin: 0 !important;
				padding: 6px 15px 6px 11px;
			}

			.form_input_group__icon {
				display: flex;
				justify-content: center;
				align-items: center;
				padding-right: 12px;

				img {
					height: 13px;
				}
			}

			.dart-form-group {
				margin-bottom: 14px;
			}

			.dart-form-control {
				padding: 12px;
			}
			.p-dropdown-label,
			.p-treeselect-label {
				padding-left: 12px !important;
			}

			.dart-form-control,
			.p-component:not(.p-checkbox) {
				height: 40px;
			}

			.p-button {
				padding: 0 12px !important;
			}

			.s-complex-input__label,
			.p-inputnumber-input::placeholder,
			.p-placeholder {
				color: #676767 !important;
				font-size: 15px !important;
				opacity: 1 !important;
			}

			.p-inputnumber-input {
				box-shadow: none;
				border-color: #e2e2e2;
				border-left: none;
				border-right: none;
				text-align: center;
			}

			.p-inputnumber-button {
				background-color: transparent;
				border-color: #e2e2e2;
				color: #676767;
				opacity: 1 !important;

				&-up {
					border-left: none;
				}

				&-down {
					border-right: none;
				}
			}

			.p-dropdown,
			.p-treeselect {
				box-shadow: none;
			}

			.dart-form-group .flex {
				gap: 14px;

				.p-checkbox {
					width: 22px !important;
					height: 22px !important;
				}

				.p-checkbox .p-checkbox-box {
					border: 0.6px solid #676767;
					box-shadow: none;
					width: 22px;
					height: 22px;
					aspect-ratio: 1;
				}

				label {
					color: #676767;
					font-size: 15px;
					line-height: 1;
				}
			}

			th,
			td {
				&:first-child {
					padding-left: 19px !important;
				}
				&:last-child {
					padding-right: 19px !important;
				}
			}

			th {
				font-size: 11px !important;
				height: 42px !important;
				padding-block: 11px !important;
			}

			td {
				font-size: 12px !important;
				padding: 8px 0 !important;
				text-align: left !important;

				&:nth-child(3) {
					.cell_value {
						width: 130px;
					}
				}
			}
		}
	}

	// Nav
	.nav {
		.pi-times {
			display: flex;

			&::before {
				font-size: 14px;
			}
		}
	}

	// Sitebar
	.sitebar {
		.sitebar-profile {
			padding: 13px 0 13px 15px;
			margin-top: 76px;

			&__name {
				margin-top: 8px;
			}

			&__tags {
				gap: 22px;
			}
		}

		.sitebar-org {
			gap: 22px;
		}

		.sitebar-role {
			box-shadow: 0px 4px 14.8px 0px #00000040;
		}

		.sitebar-info {
			margin-top: 18px;
			padding: 0px 15px 0px 15px;
		}

		.sitebar-hr {
			margin: 22px 15px;
		}

		.sitebar-menu {
			&__name {
				padding: 0 0 0 15px;
			}

			.p-panelmenu {
				display: flex;
				flex-direction: column;
				gap: 6px;

				.p-panelmenu-panel {
					height: 32px;
				}
			}
		}

		.sitebar-logout {
			flex-direction: row-reverse;
			gap: 7px;

			width: fit-content;
			padding: 0 0 15px 15px;

			span {
				font-size: 15px;
			}
		}
	}

	// OrgProfile
	.std-profile {
		padding-inline: 15px;

		// .avatar-org {
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;

		// 	background-color: #838383;
		// 	border-radius: 0;

		// 	height: 120px;
		// 	width: 100% !important;

		// 	.p-fileupload {
		// 		height: 100%;
		// 		width: 100%;

		// 		.p-fileupload-buttonbar {
		// 			border: none;
		// 			height: 100%;

		// 			&::before {
		// 				display: flex;

		// 				top: initial;
		// 				left: initial;
		// 				right: 15px;
		// 				bottom: 15px;

		// 				opacity: 1 !important;
		// 				transform: none;

		// 				width: 21px !important;
		// 				height: 21px !important;
		// 			}
		// 		}

		// 		.org-upload-i {
		// 		    display: flex;

		// 		    top: initial;
		// 		    left: initial;
		// 		    right: 15px;
		// 		    bottom: 15px;

		// 		    opacity: 1 !important;
		// 		    transform: none;

		// 		    width: 21px !important;
		// 		    height: 21px !important;
		// 		}

		// 		// .org-upload-img {
		// 		// 	object-fit: cover;
		// 		// 	// width: auto !important;
		// 		// 	height: 100% !important;
		// 		// }
		// 	}
		// }

		.profile-content__title {
			padding: 0;

			.maintitle {
				font-size: 24px;
				font-weight: 500;
				line-height: 1.2;
			}

			.buttons_container {
				height: 48px;

				position: fixed;
				bottom: 8px;
				left: 15px;
				right: 15px;

				.dart-btn {
					display: flex;
					justify-content: center;
					align-items: center;

					height: 100%;
					width: 100%;
				}
			}
		}

		.p-tabview-nav-link {
			font-size: 14px;
			font-weight: 500;

			height: 38px;
			margin: 0;
			padding: 10px 16px;
		}

		.tab-custom .p-tabview-ink-bar {
			height: 2px;
		}

		.p-tabview-nav-container {
			font-family: "Roboto", sans-serif;
			margin-bottom: 32px;
		}

		// .p-tabview-panels {
		// 	padding: 0 !important;

		form > .dart-form-group:nth-child(1) {
			margin-bottom: 32px !important;
		}

		.ktitle {
			font-family: "Roboto", sans-serif;
			font-size: 21px;
			font-weight: 500;

			margin-bottom: 16px;
		}

		.kenost-form-grid {
			flex-direction: column;
			gap: 16px;

			.form_input_group {
				width: 100% !important;
				margin: 0 !important;

				label {
					color: #b4b4b4;
					font-size: 12px;
					line-height: 1;
					letter-spacing: 0.25px;

					margin-bottom: 4px;
				}

				.dart-form-control {
					font-size: 15px;

					height: 44px;
					padding: 13px 15px;
				}
			}
		}

		.requisites {
			border-bottom: 1px solid #e2e2e2;

			margin-bottom: 64px !important;
			padding-bottom: 24px;

			p {
				margin: 0;
			}
		}

		.upload-banner {
			flex-direction: column;
			gap: 16px;

			margin-bottom: 16px !important;

			&__text {
				display: flex;
				justify-content: space-between;
				gap: 10px;

				width: 100%;

				.ktitle {
					margin: 0;
				}
			}

			.dart-btn {
				background: none;
				border: none;
				box-shadow: none;

				overflow: visible;
				padding: 2.5px;

				height: 20px;
				width: 20px;

				img {
					height: 15px !important;
					width: 15px !important;
					max-width: none;
				}
			}

			span:not(.ktitle) {
				color: #adadad;
				font-size: 15px;
				font-weight: 400;
				line-height: 1.3;
			}
		}
		// }

		&__accordion,
		.std-accordion {
			font-family: "Roboto", sans-serif;

			&--expanded {
				.std-accordion__content {
					margin-top: 16px;
				}
			}

			&__header {
				font-size: 15px;
				font-weight: 500;
				line-height: 1.2;
			}

			&__button {
				height: 20px;
				width: 20px;
			}

			&__img {
				width: 10px;
			}
		}

		&__options {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 16px;
		}

		.dart-form-control:read-only {
			color: #b4b4b4;
		}

		&__bank-requisites {
			margin-top: 0 !important;

			.text-s {
				margin-bottom: 16px !important;
			}
		}
	}

	// Balance
	.balance {
		padding-inline: 15px;

		&__main {
			gap: 16px;
			padding-inline: 15px;
		}

		&__table-accordion,
		.std-accordion {
			width: 100%;

			&--expanded {
				.std-accordion__header {
					border-bottom: none;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				.std-accordion__content {
					border: 1px solid rgba(180, 180, 180, 1);
					border-top: none;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}

			&__header {
				border: 1px solid rgba(180, 180, 180, 1);
				border-radius: 5px;

				font-size: 14px;
				font-weight: 400;
				line-height: 1.3;

				height: 33px;
				padding: 7px 20px 6px 16px;
			}

			&__button {
				height: 24px;
				width: 24px;
			}

			&__content {
				.dart-alert {
					margin-bottom: 0;
				}

				.d-col-md-6 {
					padding: 0;
				}

				.panel-widget {
					border: none;
					border-radius: 0;

					padding: 0;
					padding-inline: 9px;
					margin-block: 0 22px;
				}

				.profile-table {
					thead tr th {
						padding: 12px 5px;
					}

					tr {
						border: none;
						border-top: 1px solid rgba(226, 226, 226, 1);
					}

					th,
					td {
						font-size: 10px;

						.cell_value.status span {
							font-size: 10px !important;
						}
					}
				}
			}
		}

		.balance-info {
			&__label {
				color: rgba(102, 102, 102, 1);
			}

			&__button-wrapper {
				padding: 15px 20px;
			}

			&__line {
				translate: 0;
			}

			&__button {
				margin-top: 5px;
				width: 100%;
			}
		}
	}
	.balance-form {
		&__input,
		&__value {
			font-size: 16px !important;
		}

		&__data-container {
			gap: 16px;
		}

		&__button {
			height: 34px;
		}
	}

	// Sales
	.std-sales {
		padding-inline: 15px;

		&__title-container {
			margin-bottom: 28px;
		}
		&__title {
			font-weight: 500;
			line-height: 1.2;
		}
	}

	// ProfileDiscounts
	.std-discounts {
		padding-inline: 15px;

		&__title {
			margin-bottom: 28px;
		}

		.profile-table {
			td {
				&:first-child {
				}
			}
		}
	}

	.std-icon__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 20px;
		height: 20px;
		padding: 4px !important;

		i {
			display: flex;

			&::before {
				font-size: 11px;
			}
		}
	}

	.profile-table {
		th,
		td {
			font-size: 10px !important;
			padding-block: 10px 18px;

			&:first-child {
				padding-left: 0;
			}
		}

		th {
			&:first-child {
				text-align: left;
			}
		}
		td {
			&,
			.cell_value {
				text-align: center;
			}
		}

		.actions {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.p-buttonset {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 6px;

			.std-icon__wrapper {
				margin: 0;
			}
		}
	}

	// EmptyDialog
	.std-empty-dialog {
		border-radius: 4px !important;
		// padding: 20px !important;
	}

	.change-org-container {
		.change-org__wrapper {
			padding: 20px 20px 0 20px;
		}

		.change-org__links {
			padding: 5px 20px 20px 20px;
			gap: 14px;
		}

		.change-org__line {
			width: calc(100% - 40px);
		}

		.change-org-el {
			padding: 0;
			background: none;
			border: none;
			position: relative;

			&::before {
				border-width: 3px;
			}

			&,
			&.active {
				gap: 13px;
			}

			.icon {
				height: 45px;
				width: 45px;
			}

			b {
				color: rgba(40, 40, 40, 1);
				font-size: 14px;
				font-weight: 600;
			}

			p {
				font-size: 12px;
			}

			&.active {
				.change-org-el__text {
					gap: 6px;
				}

				.icon {
					height: 60px;
					width: 60px;
				}

				b {
					font-size: 16px;
				}

				p {
					font-size: 12px;
				}
			}
		}

		.dart-payment-status-org {
			display: none;
		}
	}

	// Purchases
	.purchases {
		background-color: transparent;
		margin-top: -20px;
		padding: 0 !important;
		padding-bottom: 60px !important; 

		.dart-window {
			background-color: #fcfcfc;
			padding-inline: 0;
		}

		.h1-mini,
		.h1,
		.h2,
		.h3 {
			margin-inline: 15px;
		}

		.h1-mini {
			font-size: 24px;
			font-weight: 500;
			margin-bottom: 32px;
		}

		.std-catalog-table__wrapper {
			th {
				width: auto;
			}
		}
	}

	.std-basket {
		border: none;
		border-top: 1px solid #ADADAD;
		border-radius: 0 !important;

		translate: 0;
		left: 0;
		bottom: 0;

		width: 100%;

		&--active {
			max-height: 50dvh !important;
			height: 50dvh !important;
		}

		&:not(.std-basket--active) .std-basket__header {
			padding: 15px !important;
		}

		&__inner {
			background-color: #f0f0f0 !important;
			border-radius: 0 !important;
			height: 100% !important;
		}

		&__title-container {
			.std-cart-icon__wrapper {
				&::before {
					content: url('../images/icons/cart-icon-s.svg');

					box-sizing: border-box;
					border-radius: 3px;

					width: 18px;
					padding: 2px;
				}
			}
		}

		&__title {
			font-size: 16px !important;
		}

		.d-col-basket .basket-empty__content {
			gap: 25px;

			img {
				width: 120px !important;
				height: auto !important;
				object-fit: contain !important;
			}
		}

	}
}
