.p-dropdown .p-dropdown-clear-icon{
  transform: unset !important;
}

// .profile-table{
//   th{
//     a{
//       color: #FFF;
//     }
//   }
// }

.v-table.widget_table thead tr th{
  a{
    color: #FFF;
  }
}

.dart-alert-info{
  line-height: 1.2;
}

.std-table__hcol{
  height: 48px;
}

.kenost-table-line{
  width: 100%;
  background: #282828;
  border-radius: 4px;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 55px;
  padding-right: 30px;

  &.right{
    justify-content: flex-end
  }

  b{
    font-size: 20px;
    color: #FFF;
  }

  span{
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
    margin-left: 10px;
  }
}

.kenost-table-elem{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 16px 0;
  span{
    text-align: center;
    color: #B4B4B4;
    font-size: 16px;
    padding: 10px 0;
  }

  &__content{
    padding: 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  &__logo{
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}

.std-table__head.white{
  background: #FFF;
  color: #282828;
}

.kenost-image-table{
  height: 48px !important;
}



// Steiden
@import "./style.scss"; 

.std-breadcrumbs {
  color: #B4B4B4;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.form_input_group__icon {
  display: flex;
  background-color: white;
  border: 1px solid #E2E2E2;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: 0;
  padding-right: 20px;
  height: 100%;
  translate: 0;
}

.retails {
  gap: 35px;

  .std-title__container {
    & {
      margin-bottom: 5px;
    }
  }

  &__input-wrapper {
    width: 600px;
  }

  &__dropdown-wrapper {
    width: 286px;
  }

  &__dropdown {
    border-color: #E2E2E2 !important;

    .p-inputtext {
      & {
        color: #282828;
      }
    }
  }

  &__table-container {
    @include border;

    padding: 40px;

    .std-table {
      
      &__head {
        background-color: transparent;
        color: #282828;
      }

      &__hcol:nth-child(1),
      &__col:nth-child(1) {
        text-align: left;
      }

      &__hcol,
      &__col:nth-child(1) {
        font-weight: 500;
      }

      &__hcol {
        padding: 0;
        padding-bottom: 16px;
      }

      &__row {
        border-color: #ADADAD;
      }

      &__body {
        .std-table__row {
          &:last-child {
            border-bottom: none;

            .std-table__col {
              & {
                padding: 0;
                padding-top: 16px;
              }
            }
          }

        }

      }
    }
  }

  &__number {
    @include flex($align: center, $gap: 12px);

    .retails__number-icon {
      & {
        display: flex;
      }

      &::before {
        color: #FF0000;
        font-size: 10px;
      }
    }
  }

  &__status {
    &--paid {
      color: #009821;
      font-weight: 500;
    }
  }
}